modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["jq"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Shell Command"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow]]
name = "Shell Command"
mode = "sequential"
author = 17262902

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "ssh -i %HOMEPATH%/.ssh/replit -p 22 28e4b557-7792-4b03-b33e-93489b7586b5@28e4b557-7792-4b03-b33e-93489b7586b5-00-33goki6qofjtz.riker.replit.dev"

[[workflows.workflow]]
name = "Run"
author = 17262902
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Restart Server"
author = 17262902
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
